.tr-product{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.td-product{
    padding-left: 10px;
    padding-right: 12px;
    display: table-cell;
    align-items: center;
    text-align: center;
    width: fit-content;

}

.tr-head{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.th-head{

    display: table-cell;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 80px;

}

.table {
    width: 100%;
}