.container{

}

.card-header{
    color: #c62229;
    font-size: 23px;

    
}

div.body{
    display:block;
    width: inherit;
}

div.card-black{
    display: flex;

}

.black-li{
    margin-top: 10px;
    flex: 1 1 auto;
    align-items: center;   
    width: 100%;
    min-width: 80px ;
    height: 70px;
    background-color: #32d1bb;
    color: white;
    border-radius: 10% 10%;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 26px;
    font-weight: 850;
    text-align: center;
    
}