div.row{
    display: flex;

}

div.row-2{
    display: flex;
    margin-left: 2%;
}

div#content-wrapper{
    background-color: #eeeeee;
}

h1.center-left{
    text-align: left;
}

h1.gray-faded{
    color: #666666;
    opacity: 80%;
}